<div class="about container">
    <h2 class="fs-2 text-decoration-underline text-center">About</h2>
    <h3 class="fs-3 fw-bold">Education:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A debitis sapiente maiores minus necessitatibus iste quo architecto, nesciunt velit fuga voluptates? Praesentium ullam suscipit sapiente reprehenderit, iure velit nulla, temporibus assumenda molestiae delectus rerum rem eligendi culpa aperiam accusamus. Harum ipsa officia quos fugit veniam quidem laborum quod alias accusantium.</p>
    <h3 class="fs-3 fw-bold">SKILLS:</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi numquam ea laborum ab reiciendis vitae voluptatum, est quos voluptates. Numquam?</p>
</div>