<header class="bg-info">
   <nav class="d-flex flex-column flex-lg-row justify-content-around align-items-center">
     <div class="text-white p-3 fs-2">Chota <span class="text-black">Bazaar</span></div>
     <ul class="menu d-flex flex-column flex-lg-row list-unstyled gap-3 align-items-center">
        <li><a routerLink="" class="text-decoration-none text-white">Home</a></li>
        <li><a routerLink="/products" class="text-decoration-none text-white">Products</a></li>
        <li><a routerLink="/cart" class="text-decoration-none text-white">Cart <span class="count badge badge-success">0</span></a></li>
     </ul>
     <button class=" btn btn-outline-primary" style="height: max-content;">Login</button>
   </nav>
</header>