.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
h1{
    text-align: center;
}
.product{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px orange;
}
.product img{
   width: 200px;
   height: 200px;
}