<div class="container">
    <div class="row d-flex flex-column flex-lg-row justify-content-center align-items-center">
        <div class="col-8">
            <h2 class="fs-1">Hi,I'm PRASAD <br> FULL STACK WEB DEVELOPER</h2>
            <p class=" fs-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore veritatis deleniti labore doloribus itaque porro totam in quia rerum ab?</p>
            <div class="buttons d-flex gap-3">
                <button class="btn btn-dark">Hire me</button>
                <button class=" btn btn-primary"><a href="Resume.pdf" download class="text-white text-decoration-none">Download Resume</a></button>
            </div>
        </div>
        <div class="col-4">
            <img src="banner.avif" alt="image" class="img-fluid">
        </div>
    </div>
</div>