<div class="banner">
    <h2>Hi, I'm <span>P.R.A.S.A.D</span><br>Full stack web developer</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt dolores nesciunt assumenda laboriosam fuga. Et perspiciatis similique, accusantium, culpa corrupti error possimus nisi, doloribus alias explicabo repudiandae nihil laborum quibusdam?</p>
    <div class="buttons">
        <button>Hire me</button>
        <button>Download my Resume</button>
    </div>
<dotlottie-player src="https://lottie.host/08a552a6-58bf-450d-beec-9ae6211702c2/7o6L5fcVRs.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
</div>