<header class="d-flex flex-column flex-md-row p-5 justify-content-between border-bottom border-2 border-black">
    <div class="logo text-black fs-2">
        PRA<span class="text-primary">SAD</span>
    </div>
    <nav>
        <ul class="menu d-flex flex-column flex-md-row list-unstyled gap-3">
            <li><a routerLink="" class=" text-decoration-none fs-3">Home</a></li>
            <li><a routerLink="/about" class=" text-decoration-none fs-3">About</a></li>
            <li><a routerLink="/projects" class=" text-decoration-none fs-3">Projects</a></li>
            <li><a routerLink="/contact" class=" text-decoration-none fs-3">contact</a></li>
        </ul>
    </nav>
</header>