<!-- <h1>ng if demo</h1>
<button (click)="fun()">watch dance</button>
<div *ngIf="isDance">
  <img src="https://media.tenor.com/ZgIRCUMksogAAAAM/sing-crayon-shin-chan.gif" alt="shinchan-gif">
</div>

-  if...else -->
<!-- <div *ngIf="isGood else bujji">

</div>
<ng-template #chitti>
  <h1>He is Good</h1>
</ng-template>
<ng-template #bujji>
   <h1>He is Bad</h1>
</ng-template> --> 

<div id="modal" *ngIf="isModal">
     <button id="close" (click)="stopModal()">❎</button>
    <h1>Hello everyone</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam esse nesciunt alias neque laborum? Vel at inventore reiciendis quam accusamus.</p>
</div>
<button (click)="showModal()">click me</button>








