<!-- <button (click)="fun()">click me</button>
<div [ngClass]="isLight ? 'light' : 'dark'">
  <h1>Hello world</h1>
</div>
<div  [ngStyle]="{display: isLight?'block':'none'}">
  <h1>Hello  2</h1>
</div> -->


<h1>My name is {{name|uppercase}}</h1>
<h1>My name is {{name|lowercase}}</h1>
<h1>The apple costs {{price | currency:"EUR"}}</h1>
<h1>today date is {{dt | date:'dd/MM/yy'}}</h1>
<h1>{{obj | json}}</h1>
<!-- {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits} -->
<h1>{{value | number:'2.0-2'}}</h1>
<h1>{{title|prasad}}</h1>






